body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', BlinkMacSystemFont, sans-serif;
  overflow: hidden; /* Prevent scrolling while loading screen is visible */
  background: linear-gradient(315deg, rgb(0, 0, 0) 3%, rgb(68, 152, 255), rgba(48, 238, 226, 1) 68%, rgb(239, 239, 239) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {background-position: 0% 0%;}
  50% {background-position: 100% 100%;}
  100% {background-position: 0% 0%;}
}

.wave {
  position: fixed;
  width: 200%;
  height: 12em;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  animation: wave 10s -3s linear infinite, neon-border 2s linear infinite alternate;
  border-radius: 1000% 1000% 0 0;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

@keyframes wave {
  2% {transform: translateX(1%);}
  25% {transform: translateX(-25%);}
  50% {transform: translateX(-50%);}
  75% {transform: translateX(-25%);}
  100% {transform: translateX(1%);}
}

.container {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 153, 255, 0.7), inset 0 0 20px rgba(0, 255, 255, 0.5);
  margin: 20px auto;
  outline: 2px solid #fff;
  max-width: 800px;
  backdrop-filter: blur(10px);
}

h1 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 15px;
  text-shadow: 0 0 5px rgba(0, 200, 255, 0.5);
}

label {
  display: block;
  background-color: #fff;
  color: #343434;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 0 0 5px rgba(0, 200, 255, 0.5);
}

.centered-textarea {
  display: flex;
  margin: 0 auto;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #178fdf;
  border-radius: 10px;
  resize: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  backdrop-filter: blur(5px);
  transition: border-color 0.3s ease;
}

.centered-textarea:focus {
  border-color: #00e5ff;
}

.btn-primary {
  display: inline-block;
  background-color: #3ee2ff;
  border: 2px solid #00c3ff;
  color: #261a1a;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin: 10px 0;
  transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #46c8ff;
  border-color: #00e5ff;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 255, 255, 0.5);
}

.success-message {
  color: #00ff00;
  margin-top: 10px;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

.footer {
  background: linear-gradient(315deg, #00ffea 46%, #1286c1 100%);
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-top: 50px;
  border-top: 2px solid #00c8ff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -5px 10px rgba(0, 255, 255, 0.5);
}

.footer p {
  margin: 0;
  display: inline-block;
  margin-right: 30px;
}

.container-buttons {
  margin-top: 20px;
  text-align: center;
}

.container-buttons .btn {
  margin: 5px;
}

#result {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.center-placeholder::placeholder {
  text-align: center;
  color: #00e5ff;
}

.form-check {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  background: rgba(255, 255, 255, 0.1);
}

.form-check:hover {
  background-color: rgba(0, 255, 255, 0.1);
  border-color: #ff00bf;
  box-shadow: 0 5px 10px rgba(255, 0, 191, 0.5);
}

.form-check-input {
  margin-right: 10px;
  opacity: 0;
}

.disable {
  display: none;
}

#inputOfPrefix,
#inputOfAdmin,
#inputOfBotName {
  padding: 13px;
  width: 200px;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

#inputOfPrefix:focus,
#inputOfAdmin:focus,
#inputOfBotName:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #00e5ff;
}

#listOfCommands,
#listOfCommandsEvent,
#prefixOfCommands,
#adminOfCommands {
  border: none !important;
}

#listOfCommands:not(.modal),
#listOfCommandsEvent:not(.modal),
#prefixOfCommands:not(.modal),
#adminOfCommands:not(.modal) {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#listOfCommandsEvent:not(.modal),
#prefixOfCommands:not(.modal),
#adminOfCommands:not(.modal) {
  box-shadow: none !important;
}

div {
  margin-bottom: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

video {
  max-width: 100%;
  max-height: 40%;
  margin-bottom: 20px;
  cursor: default;
  outline: 2px solid #fff;
  background: linear-gradient(135deg, aqua, rgb(0, 255, 0), rgb(255, 255, 0), rgb(0, 0, 0), rgb(239, 239, 239), rgb(255, 0, 234));
  border-radius: 10px;
  animation: animate 1.5s linear infinite;
  border: 2px solid transparent;
  animation: neon-border 2s linear infinite alternate;
}

@keyframes neon-border {
  from {
    border-color: rgba(0, 128, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.5);
  }
  to {
    border-color: rgba(0, 192, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 192, 255, 0.5);
  }
}

#listOfCommands {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  overflow-y: scroll;
  height: 300px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#listOfCommands::-webkit-scrollbar {
  display: none;
}

#listOfCommands li {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
  gap: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#listOfCommands li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

#listOfCommands li span {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

#listOfCommands li span.rgb {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: normal;
}

#listOfCommands li span.rgb span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#listOfCommands li span.rgb span.red {
  background-color: rgba(255, 0, 0, 0.8);
}

#listOfCommands li span.rgb span.green {
  background-color: rgba(0, 255, 0, 0.8);
}

#listOfCommands li span.rgb span.blue {
  background-color: rgba(0, 0, 255, 0.8);
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(-360deg);
  }
}

/* Loading Screen */
.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.loading-screen h1 {
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 10px #00c8ff, 0 0 20px #00a2ff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00c8ff, 0 0 20px #00a2ff;
  }
  to {
    text-shadow: 0 0 20px #00e5ff, 0 0 30px #00c8ff;
  }
}

body.loaded .loading-screen {
  opacity: 0;
  pointer-events: none;
  overflow: auto; /* Enable scrolling once loading screen is hidden */
}
